.section {
  margin-top:0px;
  padding-bottom: 70px;

}

.mb-30 {
  margin-bottom: 30px !important;
}

.about-images {
  margin-right: 30px;
  position: relative;
}

  .about-images ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
  }

      .about-images ul li {
          display: inline-flex;
          padding: 0 10px;
          margin-bottom: 20px;
      }

          .about-images ul li:first-child,
          .about-images ul li:nth-child(3) {
              width: 45%;
          }

          .about-images ul li:nth-child(2),
          .about-images ul li:nth-child(4) {
              width: 55%;
          }

  .about-images .img1 {
      border-radius: 0 60px 60px;
      margin-top: auto;
      margin-left: auto;
  }

  .about-images .img2 {
      border-radius: 60px 0 60px 60px;
      margin-top: auto;
      margin-right: auto;
  }

  .about-images .img3 {
      border-radius: 60px 60px 60px 0;
      margin-bottom: auto;
      margin-left: auto;
  }

  .about-images .exp-bx {
      background-color: #e6e7ff;
      border-radius: 60px 60px 0 60px;
      padding: 60px 0 30px;
      text-align: center;
      line-height: 75px;
      font-size: 120px;
      font-weight: 800;
      position: relative;
      display: block;
      color: #565acf;
      z-index: 2;
      width: 220px;
  }

      .about-images .exp-bx span {
          display: block;
          font-size: 18px;
          color: #1f2278;
      }

      .about-images .exp-bx:after {
          content: "";
          position: absolute;
          top: 10px;
          left: 10px;
          width: 100%;
          height: 100%;
          border: 2px solid #565acf;
          border-radius: 60px 60px 0 60px;
          z-index: -1;
      }

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.about-images:after {
  content: "";
  position: absolute;
  top: 49%;
  left: 43%;
  width: 50px;
  height: 50px;
  background-color: #f17732;
  border-radius: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.heading-bx {
  margin-bottom: 45px;
}

  .heading-bx h6 {
      font-weight: 700;
      display: inline-block;
      padding: 3px 15px;
      font-size: 18px;
      background-position: 50%;
      background-repeat: repeat;
      margin-bottom: 15px;
      color: #f17732 !important;
  }

  .heading-bx h2.title {
      font-size: 36px;
      font-weight: 700;
      color: #1f2278;
  }

  .heading-bx p {
      padding-top: 5px;
      font-size: 15px;
      font-weight: 500;
  }

.feature1 {
  border-color: #b2f0fb;
  align-items: center;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px 10px 15px;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 5px 30px 0 rgb(31 34 120 / 8%);
  border: 1px solid #565acf;
  position: relative;
}

.icon-md {
  display: inline-block;
  text-align: center;
}

.feature1 .icon-cell {
  margin-right: 30px;
}

  .feature1 .icon-cell svg {
      width: 45px;
      height: 45px;
      color: #565acf;
  }

.icon-content {
  overflow: hidden;
}

.feature1 .icon-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: #1f2278;
  margin: 0;
}

.feature1:after {
  content: "";
  width: 85px;
  height: 85px;
  background-color: #ecfcff;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: -8px;
  left: -12px;
}

.btn {
  padding: 15px 30px !important;
  border-radius: 8px !important;
  text-decoration: none;
  font-weight: 500 !important;
  font-size: 14px !important;
  transition: all 0.5s;
  border-width: 2px !important;
  line-height: 1.2 !important;
}

.team-member {
  background-color: #fff;
  text-align: center;
  padding: 35px 40px 50px;
  border-radius: 20px;
  transition: all 0.5s;
  z-index: 1;
  position: relative;
  border: 2px solid rgba(86, 90, 207, 0.2);
}
/*Doctors Page */

.team-member .team-media {
  padding: 20%;
  position: relative;
  margin-bottom: 20px;
}

.team-member .team-media:before {
  background-size: 77%;
}

.team-member .team-media:after,
.team-member .team-media:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all 0.5s;
  opacity: 0.2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.team-member .team-media:after {

  background-size: 100%;
}

.team-member .team-media img {
 
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.team-member .team-info .team-info-comntent {
  margin-bottom: 25px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #1f2278;
  line-height: 1.3;
}

.team-member .team-info .team-info-comntent span {
  font-size: 16px;
  font-weight: 600;
  color: #f17732 !important;
}

.team-member .social-media {
  display: flex;
  justify-content: center;
  margin: 0 -6px;
}

.team-member .social-media li {
  display: inline-block;
  padding: 0 6px;
}

.team-member .social-media li a {
  display: block;
  height: 40px;
  width: 40px;
  background-color: #565acf;
  border-radius: 8px;
  transition: all 0.5s;
  text-decoration: none;
  color: #fff;
  line-height: 42px;
  text-align: center;
  box-shadow: 0 10px 40px 0 rgb(31 34 120 / 10%);
}

.team-member ul.social-media {
  padding-left: 0rem !important;
}

.team-member .social-media li a svg {
  font-size: 25px;
  padding-bottom: 5px;
}

.team-member .social-media li a:hover {
  background-color: #f17732;
}

.team-member.active,
.team-member:hover {
  box-shadow: 0 10px 50px 0 rgb(0 2 72 / 10%);
  z-index: 9;
  border-color: #fff;
}

.team-member.active .team-media:after,
.team-member.active .team-media:before,
.team-member:hover .team-media:after,
.team-member:hover .team-media:before {
  opacity: 1;
}

.margn {
  margin-bottom: 5em;
}

.blog-slide .blog-card {
  margin: 0px;
}
@media (max-width: 824px) {
  .page-banner h1 {
    font-size: 32px;
  }
}
@media (max-width: 990px) {
  .about-images {
      display: none;
  }

  .section {
      padding-bottom: 0;
  }

  .heading-bx h2.title {
      font-size: 24px;
  }

  .heading-bx h6 {
      padding: 3px 0px;
  }
}

/* Services */

.departament_section {
position: relative;
margin-top: 0px;
}

.container h3{
text-align: center;
font-size: 40px;
color: #1f2278;
}
.container p{
text-align: center;
font-size: 25px;
}
.departament_section .box {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-top: 45px;
background-color: #ffffff;
border-radius: 5px;
text-align: center;
}

.departament_section .box .img-box {
width: 90px;
height: 90px;
margin-bottom: 15px;
background-color: #565acf;
border-radius: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.departament_section .box .img-box img {
max-width: 55px;
max-height: 55px;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.departament_section .box .detail-box h5 {
font-weight: bold;
text-transform: uppercase;
}

.departament_section .box .detail-box a {
color: #565acf;
;
font-weight: 600;
}

.departament_section .box .detail-box a:hover {
color: #565acf;
}

.departament_section .btn-box {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin-top: 45px;
}

.departament_section .btn-box a {
display: inline-block;
padding: 10px 45px;
background-color: #565acf;
color: #ffffff;
border-radius: 5px;
-webkit-transition: all 0.3s;
transition: all 0.3s;
border: 1px solid #f17732;
background-color: #f17732;
;
}

.departament_section .btn-box a:hover {
background-color: transparent;
color: #565acf;
}
