header {
    margin-top: 0px;
    background-color: #F0FFF0;
}

    header.row {
        margin: 50px 0px;
    }

        header .row h5 {
            color: #4169E1;
            font-size: 20px;
            margin: 40px 0px 10px 0px;
        }

    header h2 {
        color: #00008B;
        font-size: 42px;
        font-weight: bold;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    header img {
        max-width: 100%;
        width: 400px;
        height: auto;
    }

    header button a {
        color: #fff;
        font-size: 17px;
        transition: .2s ease;
    }

    header button:hover a {
        color: #fff;
    }

    header button:hover {
        opacity: .6;
    }

    header button {
        background-color: orange;
        width: 160px;
        border: 8px solid orange;
        border-radius: 4px !important;
        margin-top: 20px;
        transition: .2s ease;
    }
