.inputForm {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Add space between input fields */
  padding: 1rem; /* Padding around the form */
}

.inputForm input,
.inputForm select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.inputForm label {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: #333; /* Change label color for better visibility */
}

.inputForm button {
  margin-top: 1rem; /* Add margin to the button for spacing */
}

.modal-content {
  padding: 20px;
}

.firstBox {
  background-color: white;
  border-radius: 2rem;
  width: 600px;
}
.container2{
  width: 100%;
  background-color: rgba(131,220,255,.29);
  padding: 80px;
}

.maindoctorProfile {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.singleitemdiv {
  display: flex;
  justify-content: left;
  gap: 20px;
  padding: 10px;
  font-size: 1.9rem;
  /* border: 1px solid red; */
  align-items: center;
  margin: 0rem 1rem;
}

.singleitemdiv:nth-child(even) .singledivicons {
  color: #ff6f6f;
}

.singleitemdiv:nth-child(odd) .singledivicons {
  color: rgb(123 219 130);
}

.firstBox div {
  display: flex;
  padding: 1rem;
}
.firstBox div img {
  width: 20%;
  margin: auto;
  border-radius: 10rem;
  background-color: #efefef;
}

.subfirstbox {
  background-color: white;
  border-radius: 2rem;
  height: 45%;
}
.subSecondBox {
  background-color: white;
  border-radius: 2rem;
  height: 45%;
}

.singleitemdiv button {
  width: 50%;
  margin: auto;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  box-shadow: 0px 0px 3px -1px #4f33ea;
  background-color: #84adea;
  text-align: center;
}

.SecondBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .maindoctorProfile {
    display: block;
  }
  .firstBox {
    width: 100%;
    margin-bottom: 4rem;
  }

  .SecondBox {
    gap: 3rem;
  }
  .firstBox div img {
    width: 40%;
    margin: auto;
    border-radius: 10rem;
    background-color: #efefef;
  }
  .singleitemdiv button {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .singleitemdiv button {
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .singleitemdiv button {
    width: 70%;
  }
  .inputForm input,
  .inputForm select {
    width: 90%; /* Adjust width for smaller screens */
  }
}
